/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-dec-22, 12:37:50
    Author     : Lobo
*/
#paper{
    outline: 2px dashed darkred;
    height: 500px;
}
#left-paper{
    min-height: 500px;
}
.glyphicon{
    font-size: 3em ! important;
}
#next{
    float: right;
}

#image{
    width: 300px;
    height: 300px;
}
